In [97]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [98]:
model_data = pd.read_csv('modelled_data.csv')
model_data.head()

,Unnamed: 0,systemloanid,loannumber,loanamount,totaldue,termdays,good_bad_flag,bank_account_type,birthdate,bank_name_clients_Access Bank,...,bank_name_clients_Keystone Bank,bank_name_clients_Skye Bank,bank_name_clients_Stanbic IBTC,bank_name_clients_Standard Chartered,bank_name_clients_Sterling Bank,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank
0,0,301994762,12,30000.0,34500.0,30,1,3.0,46.0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,301965204,2,15000.0,17250.0,30,1,2.0,33.0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,301966580,7,20000.0,22250.0,15,1,3.0,34.0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,301999343,3,10000.0,11500.0,15,1,2.0,41.0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,301962360,9,40000.0,44000.0,30,1,3.0,32.0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
check_data = model_data
data = check_data.drop(['Unnamed: 0', 'systemloanid'], axis = 1)
data.head()

,loannumber,loanamount,totaldue,termdays,good_bad_flag,bank_account_type,birthdate,bank_name_clients_Access Bank,bank_name_clients_Diamond Bank,bank_name_clients_EcoBank,...,bank_name_clients_Keystone Bank,bank_name_clients_Skye Bank,bank_name_clients_Stanbic IBTC,bank_name_clients_Standard Chartered,bank_name_clients_Sterling Bank,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank
0,12,30000.0,34500.0,30,1,3.0,46.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,15000.0,17250.0,30,1,2.0,33.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,20000.0,22250.0,15,1,3.0,34.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,10000.0,11500.0,15,1,2.0,41.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,40000.0,44000.0,30,1,3.0,32.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
def report_nan(data,list_column = ['bank_account_type', 'bank_name_clients','birthdate']):
    for k in list_column:
        nan_values = sum([1 if np.isnan(l) else 0 for l in data[k]])
        print ('there are ', nan_values, ' nan values in the column', k, 'in our data')
    return

report_nan(data, list_column = data.keys())

there are  0  nan values in the column loannumber in our data
there are  0  nan values in the column loanamount in our data
there are  0  nan values in the column totaldue in our data
there are  0  nan values in the column termdays in our data
there are  0  nan values in the column good_bad_flag in our data
there are  1099  nan values in the column bank_account_type in our data
there are  1099  nan values in the column birthdate in our data
there are  0  nan values in the column bank_name_clients_Access Bank in our data
there are  0  nan values in the column bank_name_clients_Diamond Bank in our data
there are  0  nan values in the column bank_name_clients_EcoBank in our data
there are  0  nan values in the column bank_name_clients_FCMB in our data
there are  0  nan values in the column bank_name_clients_Fidelity Bank in our data
there are  0  nan values in the column bank_name_clients_First Bank in our data
there are  0  nan values in the column bank_name_clients_GT Bank in our data
there are  0  nan values in the column bank_name_clients_Heritage Bank in our data
there are  0  nan values in the column bank_name_clients_Keystone Bank in our data
there are  0  nan values in the column bank_name_clients_Skye Bank in our data
there are  0  nan values in the column bank_name_clients_Stanbic IBTC in our data
there are  0  nan values in the column bank_name_clients_Standard Chartered in our data
there are  0  nan values in the column bank_name_clients_Sterling Bank in our data
there are  0  nan values in the column bank_name_clients_UBA in our data
there are  0  nan values in the column bank_name_clients_Union Bank in our data
there are  0  nan values in the column bank_name_clients_Unity Bank in our data
there are  0  nan values in the column bank_name_clients_Wema Bank in our data
there are  0  nan values in the column bank_name_clients_Zenith Bank in our data

In [101]:
data = data.drop(['bank_account_type','birthdate','bank_name_clients_Keystone Bank'], axis = 1)

# scaling,spliting and normalizing our data

In [102]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, normalize

In [103]:
minmax = MinMaxScaler()
std_scale = StandardScaler()

In [104]:
from sklearn.model_selection import train_test_split
x,y = data.drop('good_bad_flag',axis = 1), data['good_bad_flag']

In [105]:
x_scaled = minmax.fit_transform(x)
x_standard = std_scale.fit_transform(x_scaled)
x_norm = normalize(x_standard)

In [106]:
x_train, x_test,y_train, y_test = train_test_split(x_norm, y, train_size = 0.80, random_state = 42)
x_train.shape, y_train.shape

((3500, 21), (3500,))

# logistic regression

In [107]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [108]:
logreg.score(x_train, y_train)

0.78228571428571425

In [109]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C':[1000,100,10,1,0.1,0.01,0.001]}
clf = GridSearchCV(logreg, param_grid,cv = 20)
clf.fit(x_train, y_train)

GridSearchCV(cv=20, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'C': [1000, 100, 10, 1, 0.1, 0.01, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [110]:
clf.score(x_train, y_train)

0.78228571428571425

In [111]:
clf.cv_results_

{'mean_fit_time': array([ 0.10895212,  0.07718048,  0.03871022,  0.02244006,  0.01673005,
         0.0101801 ,  0.01251022]),
 'mean_score_time': array([  9.29987431e-04,   5.00082970e-05,   3.16998959e-03,
          1.60999298e-03,   8.29982758e-04,   3.21999788e-03,
          1.66001320e-03]),
 'mean_test_score': array([ 0.78228571,  0.78228571,  0.78228571,  0.78228571,  0.78228571,
         0.78228571,  0.78228571]),
 'mean_train_score': array([ 0.78228572,  0.78228572,  0.78228572,  0.78228572,  0.78228572,
         0.78228572,  0.78228572]),
 'param_C': masked_array(data = [1000 100 10 1 0.1 0.01 0.001],
              mask = [False False False False False False False],
        fill_value = ?),
 'params': ({'C': 1000},
  {'C': 100},
  {'C': 10},
  {'C': 1},
  {'C': 0.1},
  {'C': 0.01},
  {'C': 0.001}),
 'rank_test_score': array([1, 1, 1, 1, 1, 1, 1]),
 'split0_test_score': array([ 0.77840909,  0.77840909,  0.77840909,  0.77840909,  0.77840909,
         0.77840909,  0.77840909]),
 'split0_train_score': array([ 0.78249097,  0.78249097,  0.78249097,  0.78249097,  0.78249097,
         0.78249097,  0.78249097]),
 'split10_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split10_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split11_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split11_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split12_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split12_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split13_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split13_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split14_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split14_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split15_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split15_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split16_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split16_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split17_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split17_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split18_test_score': array([ 0.7816092,  0.7816092,  0.7816092,  0.7816092,  0.7816092,
         0.7816092,  0.7816092]),
 'split18_train_score': array([ 0.78232111,  0.78232111,  0.78232111,  0.78232111,  0.78232111,
         0.78232111,  0.78232111]),
 'split19_test_score': array([ 0.7816092,  0.7816092,  0.7816092,  0.7816092,  0.7816092,
         0.7816092,  0.7816092]),
 'split19_train_score': array([ 0.78232111,  0.78232111,  0.78232111,  0.78232111,  0.78232111,
         0.78232111,  0.78232111]),
 'split1_test_score': array([ 0.77840909,  0.77840909,  0.77840909,  0.77840909,  0.77840909,
         0.77840909,  0.77840909]),
 'split1_train_score': array([ 0.78249097,  0.78249097,  0.78249097,  0.78249097,  0.78249097,
         0.78249097,  0.78249097]),
 'split2_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split2_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split3_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split3_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split4_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split4_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split5_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split5_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split6_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split6_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split7_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split7_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split8_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split8_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'split9_test_score': array([ 0.78285714,  0.78285714,  0.78285714,  0.78285714,  0.78285714,
         0.78285714,  0.78285714]),
 'split9_train_score': array([ 0.78225564,  0.78225564,  0.78225564,  0.78225564,  0.78225564,
         0.78225564,  0.78225564]),
 'std_fit_time': array([ 0.05123485,  0.02028842,  0.00804659,  0.0076301 ,  0.00365261,
         0.00763657,  0.01542848]),
 'std_score_time': array([ 0.00338418,  0.00021798,  0.00621873,  0.00466838,  0.00339539,
         0.00619705,  0.00482088]),
 'std_test_score': array([ 0.00134838,  0.00134838,  0.00134838,  0.00134838,  0.00134838,
         0.00134838,  0.00134838]),
 'std_train_score': array([  7.11481476e-05,   7.11481476e-05,   7.11481476e-05,
          7.11481476e-05,   7.11481476e-05,   7.11481476e-05,
          7.11481476e-05])}

In [112]:
clf.best_estimator_

LogisticRegression(C=1000, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [113]:
clf.best_score_

0.78228571428571425

In [114]:
clf.best_params_

{'C': 1000}

In [115]:
clf.best_index_

0

In [116]:
clf.scorer_

In [117]:
clf.n_splits_

20

# loading the the preprocessed test set and predicting

In [118]:
modelled_test_data = pd.read_csv('modelled_test_data.csv')
customerid = modelled_test_data['customerid']
fit_to_model = modelled_test_data.drop('customerid', axis = 1)

In [119]:
modelled_test_data.shape, customerid.shape, fit_to_model.shape

((1450, 25), (1450,), (1450, 24))

In [120]:
modelled_test_data.keys()

Index(['Unnamed: 0', 'customerid', 'systemloanid', 'loannumber', 'loanamount',
       'totaldue', 'termdays', 'birthdate', 'bank_account_type',
       'bank_name_clients_Access Bank', 'bank_name_clients_Diamond Bank',
       'bank_name_clients_EcoBank', 'bank_name_clients_FCMB',
       'bank_name_clients_Fidelity Bank', 'bank_name_clients_First Bank',
       'bank_name_clients_GT Bank', 'bank_name_clients_Heritage Bank',
       'bank_name_clients_Skye Bank', 'bank_name_clients_Stanbic IBTC',
       'bank_name_clients_Sterling Bank', 'bank_name_clients_UBA',
       'bank_name_clients_Union Bank', 'bank_name_clients_Unity Bank',
       'bank_name_clients_Wema Bank', 'bank_name_clients_Zenith Bank'],
      dtype='object')

In [121]:
modelled_test_data = modelled_test_data.drop(['Unnamed: 0','customerid'],axis = 1)

In [122]:
def report_nan(data,list_column = ['bank_account_type', 'bank_name_clients','birthdate']):
    for k in list_column:
        nan_values = sum([1 if np.isnan(l) else 0 for l in data[k]])
        print ('there are ', nan_values, ' nan values in the column', k, 'in our data')
    return

report_nan(modelled_test_data, list_column = modelled_test_data.keys())

there are  0  nan values in the column systemloanid in our data
there are  0  nan values in the column loannumber in our data
there are  0  nan values in the column loanamount in our data
there are  0  nan values in the column totaldue in our data
there are  0  nan values in the column termdays in our data
there are  1065  nan values in the column birthdate in our data
there are  1065  nan values in the column bank_account_type in our data
there are  0  nan values in the column bank_name_clients_Access Bank in our data
there are  0  nan values in the column bank_name_clients_Diamond Bank in our data
there are  0  nan values in the column bank_name_clients_EcoBank in our data
there are  0  nan values in the column bank_name_clients_FCMB in our data
there are  0  nan values in the column bank_name_clients_Fidelity Bank in our data
there are  0  nan values in the column bank_name_clients_First Bank in our data
there are  0  nan values in the column bank_name_clients_GT Bank in our data
there are  0  nan values in the column bank_name_clients_Heritage Bank in our data
there are  0  nan values in the column bank_name_clients_Skye Bank in our data
there are  0  nan values in the column bank_name_clients_Stanbic IBTC in our data
there are  0  nan values in the column bank_name_clients_Sterling Bank in our data
there are  0  nan values in the column bank_name_clients_UBA in our data
there are  0  nan values in the column bank_name_clients_Union Bank in our data
there are  0  nan values in the column bank_name_clients_Unity Bank in our data
there are  0  nan values in the column bank_name_clients_Wema Bank in our data
there are  0  nan values in the column bank_name_clients_Zenith Bank in our data

In [123]:
len(data.keys()), len(modelled_test_data.keys())

(22, 23)

In [124]:
data.head()

,loannumber,loanamount,totaldue,termdays,good_bad_flag,bank_name_clients_Access Bank,bank_name_clients_Diamond Bank,bank_name_clients_EcoBank,bank_name_clients_FCMB,bank_name_clients_Fidelity Bank,...,bank_name_clients_Heritage Bank,bank_name_clients_Skye Bank,bank_name_clients_Stanbic IBTC,bank_name_clients_Standard Chartered,bank_name_clients_Sterling Bank,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank
0,12,30000.0,34500.0,30,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,15000.0,17250.0,30,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,20000.0,22250.0,15,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,10000.0,11500.0,15,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,40000.0,44000.0,30,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
modelled_test_data.head()

,systemloanid,loannumber,loanamount,totaldue,termdays,birthdate,bank_account_type,bank_name_clients_Access Bank,bank_name_clients_Diamond Bank,bank_name_clients_EcoBank,...,bank_name_clients_GT Bank,bank_name_clients_Heritage Bank,bank_name_clients_Skye Bank,bank_name_clients_Stanbic IBTC,bank_name_clients_Sterling Bank,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank
0,301998974,4,10000,12250.0,30,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,301963615,10,40000,44000.0,30,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,301982236,6,20000,24500.0,30,37.0,2.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,301971730,8,30000,34500.0,30,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,301959177,4,20000,24500.0,30,43.0,2.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [126]:
data.keys()

Index(['loannumber', 'loanamount', 'totaldue', 'termdays', 'good_bad_flag',
       'bank_name_clients_Access Bank', 'bank_name_clients_Diamond Bank',
       'bank_name_clients_EcoBank', 'bank_name_clients_FCMB',
       'bank_name_clients_Fidelity Bank', 'bank_name_clients_First Bank',
       'bank_name_clients_GT Bank', 'bank_name_clients_Heritage Bank',
       'bank_name_clients_Skye Bank', 'bank_name_clients_Stanbic IBTC',
       'bank_name_clients_Standard Chartered',
       'bank_name_clients_Sterling Bank', 'bank_name_clients_UBA',
       'bank_name_clients_Union Bank', 'bank_name_clients_Unity Bank',
       'bank_name_clients_Wema Bank', 'bank_name_clients_Zenith Bank'],
      dtype='object')

In [127]:
modelled_test_data.keys()

Index(['systemloanid', 'loannumber', 'loanamount', 'totaldue', 'termdays',
       'birthdate', 'bank_account_type', 'bank_name_clients_Access Bank',
       'bank_name_clients_Diamond Bank', 'bank_name_clients_EcoBank',
       'bank_name_clients_FCMB', 'bank_name_clients_Fidelity Bank',
       'bank_name_clients_First Bank', 'bank_name_clients_GT Bank',
       'bank_name_clients_Heritage Bank', 'bank_name_clients_Skye Bank',
       'bank_name_clients_Stanbic IBTC', 'bank_name_clients_Sterling Bank',
       'bank_name_clients_UBA', 'bank_name_clients_Union Bank',
       'bank_name_clients_Unity Bank', 'bank_name_clients_Wema Bank',
       'bank_name_clients_Zenith Bank'],
      dtype='object')

In [128]:
modelled_test_data = modelled_test_data.drop(['bank_account_type','birthdate'], axis = 1)

In [129]:
# scaling our test data
x_scaled = minmax.fit_transform(modelled_test_data)
x_standard = std_scale.fit_transform(x_scaled)
x_norm = normalize(x_standard)

In [130]:
predicted_data = clf.predict(x_norm)

In [144]:
np.unique(predicted_data)

array([0, 1], dtype=int64)

# checking sample submission

In [131]:
sample_submission = pd.read_csv('SampleSubmission.csv')
sample_submission.shape

(1450, 2)

In [142]:
np.sum([sample_submission['customerid'] == customerid])

2

In [132]:
sample_submission.keys()

Index(['customerid', 'Good_Bad_flag'], dtype='object')

# preparing my submission

In [137]:
dicted_submission = {'customerid': sample_submission['customerid'], 'Good_Bad_flag': predicted_data}

In [138]:
my_submission = pd.DataFrame(dicted_submission)

In [139]:
my_submission.to_csv('My_Frist_submission_logistic_regression.csv')

In [140]:
my_submission.shape

(1450, 2)