In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os, sys

In [3]:
os.listdir()

['One-Hot Encoding a Feature on a Pandas Dataframe: an Example.html',
 'My Journey to building Book Recommendation System.html',
 'Converting categorical data into numbers with Pandas and Scikit-learn - FastML_files',
 'finally.ipynb',
 'train.csv',
 'When Bayes, Ockham, and Shannon come together to define machine learning.html',
 'coding challenge.ipynb',
 'Data Science Nigeria Comedy Rating Prediction | Kaggle_files',
 'Data Science Nigeria Comedy Rating Prediction | Kaggle.html',
 '.~lock.train.csv#',
 'One-Hot Encoding a Feature on a Pandas Dataframe: an Example_files',
 'My Journey to building Book Recommendation System_files',
 'label_encoded_data.csv',
 'When Bayes, Ockham, and Shannon come together to define machine learning_files',
 'preprocessor.ipynb',
 '.ipynb_checkpoints',
 'Converting categorical data into numbers with Pandas and Scikit-learn - FastML.html',
 'Recommender Systems in Python Tutorial (article) - DataCamp_files',
 'SampleSubmission.csv',
 'Recommender Systems in Python Tutorial (article) - DataCamp.html',
 'How to One Hot Encode Sequence Data in Python_files',
 'How to One Hot Encode Sequence Data in Python.html',
 'test.csv']

In [4]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [5]:
train_data.head()

# A1 is a person, given various comedy event with the identifier and the location, response ID is the reponse
# of the viewer to the various comedy rated from the least to the best.

  Viewers_ID   ComedyEvent_identifier                 Response_ID  Rating
0         A1   Klint De Drunk Lagos 1   A1_Klint De Drunk Lagos 1   -4.83
1         A1   Klint De Drunk Enugu 2   A1_Klint De Drunk Enugu 2   -4.64
2         A1   Klint De Drunk Lagos 2   A1_Klint De Drunk Lagos 2   -4.52
3         A1          AliBaba Lagos 2          A1_AliBaba Lagos 2   -4.39
4         A1  Klint De Drunk Warri 1   A1_Klint De Drunk Warri 1    -4.36

In [6]:
train_data.keys()

Index(['Viewers_ID', 'ComedyEvent_identifier', 'Response_ID', 'Rating'], dtype='object')

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629145 entries, 0 to 629144
Data columns (total 4 columns):
Viewers_ID                629145 non-null object
ComedyEvent_identifier    629145 non-null object
Response_ID               629145 non-null object
Rating                    629145 non-null float64
dtypes: float64(1), object(3)
memory usage: 19.2+ MB

In [8]:
train_data['Viewers_ID'].unique()

array(['A1', 'A10', 'A100', ..., 'A3162', 'A31620', 'A31621'],
      dtype=object)

In [9]:
unique_value = train_data['Viewers_ID'].unique()[:10]

In [10]:
for k in unique_value:
    print (np.sum(k == train_data['Viewers_ID']))

40
14
78
81
8
12
8
17
14
7

comedy event identify- implies the name of the comedians and their location 
response_id - this is a unique response from each viewer to a particular comedy
ratings - this is the rating of the viewer to a respective comedy


# encode the response ID based on the comedy event identifier
# preprocess and build a knn classifier that learns from the ratings and predict

In [11]:
train_data['Response_ID'].value_counts()[:10]
#Every Response_ID is a unique ID

A30219_Klint De Drunk Enugu 3     1
A18929_AY Warri 2                 1
A22833_Saka Ibadan 4              1
A19642_Gordons Lagos 2            1
A11860_Helen Paul Lagos 3         1
A21046_Seyi Law Lagos 3           1
A20656_Klint De Drunk Warri 1     1
A10340_Klint De Drunk Lagos 1     1
A22126_AliBaba PH 5               1
A29713_Klint De Drunk PH 2        1
Name: Response_ID, dtype: int64

In [12]:
train_data['Viewers_ID'].value_counts()[:10]

A179      91
A233      90
A242      87
A25045    85
A1674     85
A25185    85
A11985    85
A12089    85
A30658    85
A21491    85
Name: Viewers_ID, dtype: int64

In [13]:
train_data['ComedyEvent_identifier'].value_counts()[:10]

Klint De Drunk Enugu 2     15535
Klint De Drunk PH 2        15528
Klint De Drunk Lagos 3     15519
Klint De Drunk Lagos 1     15518
Klint De Drunk Lagos 2     15380
Klint De Drunk Warri 1     15369
Klint De Drunk Enugu 3     15368
Klint De Drunk PH 1        15353
Helen Paul Lagos 3         10449
I Go Dye Benin 1            9574
Name: ComedyEvent_identifier, dtype: int64

In [14]:
count = 0
for k in train_data['ComedyEvent_identifier'].value_counts().keys():
    count += 1
print (count)

139

In [15]:
answer, list_answer = "",[]
for k, j in zip(train_data['Viewers_ID'], train_data['ComedyEvent_identifier']):
    answer = k + '_' + j
    list_answer.append(answer)

    
np.sum(list_answer == train_data['Response_ID']) == train_data.shape[0]

True

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lab_enc = LabelEncoder()
label_enc_train = lab_enc.fit_transform(train_data['ComedyEvent_identifier'])

In [18]:
np.unique(label_enc_train)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138])

In [19]:
from sklearn.preprocessing import OneHotEncoder
one_hot_enc_train = OneHotEncoder()

In [20]:
#one_hot_enc_train.fit_transform(train_data['ComedyEvent_identifier'])
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_style_train = lb_style.fit_transform(train_data['ComedyEvent_identifier'])
lb_style_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [21]:
lb_style_train.shape

(629145, 139)

In [22]:
new_dataframe = pd.DataFrame(lb_style_train, columns=lb_style.classes_)

In [23]:
new_dataframe.head()

,AY Abuja 1,AY Abuja 2,AY Abuja 3,AY Lagos 1,AY Lagos 2,AY Lagos 3,AY Lagos 4,AY Warri 1,AY Warri 2,Akpororo Abuja 1,...,Seyi Law Abuja 1,Seyi Law Abuja 2,Seyi Law Abuja 3,Seyi Law Abuja 4,Seyi Law Ibadan 1,Seyi Law Ibadan 2,Seyi Law Ibadan 3,Seyi Law Lagos 1,Seyi Law Lagos 2,Seyi Law Lagos 3
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
new_dataframe.to_csv("label_encoded_data.csv")

In [25]:
train_data = new_dataframe[:50000]
test_data = new_dataframe[50000:]

In [26]:
train_data.shape, test_data.shape

((50000, 139), (579145, 139))

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [2]:
labelled_data = pd.read_csv('label_encoded_data.csv')

In [17]:
new_dataframe = labelled_data
new_dataframe.drop('Unnamed: 0', axis = 1)
train_data = new_dataframe[:50000]
test_data = new_dataframe[50000:]

In [18]:
#Create two user-item matrices, one for training and another for testing

train_data_matrix = np.zeros((train_data.shape))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

In [19]:
test_data.shape, train_data.shape

((579145, 140), (50000, 140))

In [24]:
test_data_matrix = np.zeros((train_data.shape))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

IndexError: index 50000 is out of bounds for axis 0 with size 50000

In [26]:
train_data_matrix.shape, test_data_matrix.shape

((50000, 140), (50000, 140))

In [30]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')

MemoryError:

In [ ]:
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [ ]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [ ]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [ ]:
print 'User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix))
print 'Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix))

In [ ]:
sparsity=round(1.0-len(df)/float(n_users*n_items),3)
print 'The sparsity level of MovieLens100K is ' +  str(sparsity*100) + '%'

In [ ]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print 'User-based CF MSE: ' + str(rmse(X_pred, test_data_matrix))