In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import mglearn as mg
import sklearn as sk
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
# load test and train data

load_test = pd.read_csv(r"C:\Users\ACER\Desktop\pyreach\to pc\churn prediction\TEST.csv")
load_train = pd.read_csv(r"C:\Users\ACER\Desktop\pyreach\to pc\churn prediction\TRAIN.csv")

In [3]:
# mapping categorical variables load_train['Most Loved Competitor network in in month 2].values_counts()

mapped_dict = {'Uxaa':1, 'PQza':2, 'Mango':3, 'ToCall': 4, 'Weematel': 5, 'Zintel':6, '0': 0}
load_train['Most Loved Competitor network in in Month 2'] = load_train['Most Loved Competitor network in in Month 2'].map(mapped_dict)
load_train['Most Loved Competitor network in in Month 1'] = load_train['Most Loved Competitor network in in Month 1'].map(mapped_dict)

In [4]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [5]:
load_train.iloc[:,11:13].head(3)

  Network type subscription in Month 1 Network type subscription in Month 2
0                                   2G                                   2G
1                                   2G                                   2G
2                                   2G                                   2G

In [6]:
re_assign = pd.get_dummies(load_train[['Network type subscription in Month 1', 'Network type subscription in Month 2']])

In [7]:
new_frame = load_train
for i in re_assign.keys():
    new_frame[i] = re_assign[i]
final_frame = pd.DataFrame(new_frame)
final_frame.keys()

Index(['Customer ID', 'network_age', 'Customer tenure in month',
       'Total Spend in Months 1 and 2 of 2017', 'Total SMS Spend',
       'Total Data Spend', 'Total Data Consumption', 'Total Unique Calls',
       'Total Onnet spend ', 'Total Offnet spend',
       'Total Call centre complaint calls',
       'Network type subscription in Month 1',
       'Network type subscription in Month 2',
       'Most Loved Competitor network in in Month 1',
       'Most Loved Competitor network in in Month 2', 'Churn Status',
       'Network type subscription in Month 1_2G',
       'Network type subscription in Month 1_3G',
       'Network type subscription in Month 1_Other',
       'Network type subscription in Month 2_2G',
       'Network type subscription in Month 2_3G',
       'Network type subscription in Month 2_Other'],
      dtype='object')

In [8]:
final_frame = final_frame.drop(['Network type subscription in Month 1'], axis = 1)
final_frame = final_frame.drop(['Network type subscription in Month 2'], axis = 1)

In [9]:
final_frame['network_age'] = final_frame['network_age'].fillna(np.median(final_frame['network_age']))
final_frame['Customer tenure in month'] = final_frame['Customer tenure in month'].fillna(np.median(final_frame['Customer tenure in month']))
final_frame['Total Spend in Months 1 and 2 of 2017'] = final_frame['Total Spend in Months 1 and 2 of 2017'].fillna(np.median(final_frame['Total Spend in Months 1 and 2 of 2017']))
final_frame['Total SMS Spend'] = final_frame['Total SMS Spend'].fillna(np.median(final_frame['Total SMS Spend']))
final_frame['Total Data Spend'] = final_frame['Total Data Spend'].fillna(np.median(final_frame['Total Data Spend']))
final_frame['Total Data Consumption'] = final_frame['Total Data Consumption'].fillna(np.median(final_frame['Total Data Consumption']))
final_frame['Total Unique Calls'] = final_frame['Total Unique Calls'].fillna(np.median(final_frame['Total Unique Calls']))
final_frame['Total Onnet spend '] = final_frame['Total Onnet spend '].fillna(np.median(final_frame['Total Onnet spend ']))
final_frame['Total Offnet spend'] = final_frame['Total Offnet spend'].fillna(np.median(final_frame['Total Offnet spend']))
final_frame['Total Call centre complaints calls'] = final_frame['Total Call centre complaint calls'].fillna(np.median(final_frame['Total Call centre complaint calls']))

In [10]:
final_frame['network_age'].dropna(axis = 0)

0        123.0
1       1316.0
2       2385.0
3       1614.0
4       2175.0
5        158.0
6        110.0
7        558.0
8        115.0
9       1868.0
10      1196.0
11       174.0
12       122.0
13       441.0
14      2132.0
15       180.0
16       114.0
17      3496.0
18       422.0
19      1914.0
20      1822.0
21       120.0
22      2372.0
23      3500.0
24       121.0
25      2417.0
26       204.0
27      3291.0
28       847.0
29      1038.0
         ...
1370     105.0
1371    1587.0
1372     107.0
1373      99.0
1374     974.0
1375     108.0
1376    2848.0
1377    1842.0
1378    1268.0
1379    1490.0
1380     658.0
1381    4639.0
1382     266.0
1383    2630.0
1384     103.0
1385     116.0
1386    1774.0
1387    4064.0
1388    4149.0
1389    1530.0
1390    1687.0
1391    3853.0
1392    1276.0
1393    1447.0
1394     113.0
1395     136.0
1396    1795.0
1397     203.0
1398     109.0
1399     904.0
Name: network_age, Length: 1400, dtype: float64

In [11]:
final_frame = final_frame.dropna(axis = 0)
final_frame.shape

(1399, 21)

In [12]:
check_list =list(final_frame.keys()) 
for i in check_list:
    check_list.remove(i)
    solution = i in check_list
    print (i, solution)

Customer ID False
Customer tenure in month False
Total SMS Spend False
Total Data Consumption False
Total Onnet spend  False
Total Call centre complaint calls False
Most Loved Competitor network in in Month 2 False
Network type subscription in Month 1_2G False
Network type subscription in Month 1_Other False
Network type subscription in Month 2_3G False
Total Call centre complaints calls False

In [13]:
final_frame.describe()

,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Churn Status,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other,Total Call centre complaints calls
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1.399000e+03,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,1450.021444,48.334053,805.873138,30.416011,58.434746,2.163409e+06,202.564689,6819.263045,15741.228735,1.922802,2.881344,1.812009,0.500357,0.216583,0.454610,0.203717,0.202287,0.491065,0.203717,1.922802
std,1276.258350,42.541876,1252.159721,60.901438,289.711686,6.868290e+06,302.097112,16712.765065,37460.148861,2.346224,1.709249,1.291426,0.500179,0.412064,0.498114,0.402905,0.401849,0.500099,0.402905,2.346224
min,-5.000000,-0.170000,4.910000,0.000000,0.000000,5.860000e-02,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,286.000000,9.535000,155.507000,2.620000,1.250000,1.375749e+03,18.000000,60.000000,1125.500000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1168.000000,38.930000,607.820000,13.720000,11.250000,1.184347e+05,82.000000,1626.000000,4174.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2239.000000,74.635000,1018.433000,31.210000,42.500000,1.207741e+06,254.500000,7200.500000,13154.000000,2.000000,4.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000
max,5451.000000,181.700000,24438.830000,873.980000,8295.000000,9.945640e+07,2596.000000,381174.000000,431440.000000,49.000000,6.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,49.000000

In [14]:
final_frame['network_age'][final_frame['network_age'] > 2500] = final_frame['network_age'].median()

In [15]:
final_frame['Customer tenure in month'][final_frame['Customer tenure in month'] > 80] = final_frame['Customer tenure in month'].median()

In [16]:
final_frame['Total Spend in Months 1 and 2 of 2017'][final_frame['Total Spend in Months 1 and 2 of 2017'] > 1200] = final_frame['Total Spend in Months 1 and 2 of 2017'].median()

In [17]:
final_frame['Total SMS Spend'][final_frame['Total SMS Spend'] > 50] = final_frame['Total SMS Spend'].median()
final_frame['Total SMS Spend'].max()

49.880000000000003

In [18]:
final_frame['Total Data Spend'][final_frame['Total Data Spend'] > 50] = final_frame['Total Data Spend'].median()
final_frame['Total Data Spend'].max()

50.0

In [19]:
final_frame['Total Data Consumption'][final_frame['Total Data Consumption'] >final_frame['Total Data Consumption'].median()] = final_frame['Total Data Consumption'].median()

In [20]:
final_frame['Total Unique Calls'][final_frame['Total Unique Calls'] > 300] = final_frame['Total Unique Calls'].median()

In [21]:
final_frame['Total Unique Calls'][final_frame['Total Unique Calls'] > 300] = final_frame['Total Unique Calls'].median()

In [22]:
final_frame['Total Onnet spend '][final_frame['Total Onnet spend '] > 9000] = final_frame['Total Onnet spend '].median()
final_frame['Total Offnet spend'][final_frame['Total Offnet spend'] > 15000] = final_frame['Total Offnet spend'].median()
final_frame['Total Call centre complaint calls'][final_frame['Total Call centre complaint calls'] > 2] = final_frame['Total Call centre complaint calls'].median()

In [23]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
from sklearn.preprocessing import StandardScaler
stdScale = StandardScaler()

In [24]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state = 50, penalty = 'l1',C = 0.1)
lr.get_params()

{'C': 0.1,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'ovr',
 'n_jobs': 1,
 'penalty': 'l1',
 'random_state': 50,
 'solver': 'liblinear',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [25]:
from sklearn.cross_validation import train_test_split

In [26]:
final_frame.dropna()

for i in final_frame.keys():
    if i != 'Customer ID':
        final_frame[i] = final_frame[i].replace(np.nan,final_frame[i].median())
    else:
        pass
final_frame.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,...,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Churn Status,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other,Total Call centre complaints calls
0,ADF0039,123.0,4.10,76.7140,0.00,1.25,1.4951,14.0,564.0,6408.0,...,1.0,3.0,0.0,1,0,0,1,0,0,2.0
1,ADF0041,1316.0,43.87,98.8904,4.14,1.25,1.0244,27.0,1626.0,4373.0,...,1.0,3.0,0.0,1,0,0,1,0,0,1.0
2,ADF0051,2385.0,79.50,372.6300,3.51,1.25,6.0898,119.0,1626.0,4174.0,...,5.0,3.0,0.0,1,0,0,1,0,0,1.0
3,ADF0059,1614.0,53.80,530.2000,6.85,1.25,3.3447,69.0,6822.0,6274.0,...,0.0,3.0,0.0,1,0,0,1,0,0,1.0
4,ADF0060,2175.0,72.50,554.1300,6.99,11.25,118434.7422,33.0,3387.0,7241.0,...,5.0,3.0,0.0,1,0,0,0,1,0,1.0

In [27]:
process_frame = {}

for i in final_frame:
    if i != 'Customer ID':
        process_frame[i] = final_frame[i]
    else: 
        pass
process_frame = pd.DataFrame(process_frame)
process_frame.head()

,Churn Status,Customer tenure in month,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other,Total Call centre complaint calls,Total Call centre complaints calls,Total Data Consumption,Total Data Spend,Total Offnet spend,Total Onnet spend,Total SMS Spend,Total Spend in Months 1 and 2 of 2017,Total Unique Calls,network_age
0,0.0,4.10,1.0,3.0,1,0,0,1,0,0,2.0,2.0,1.4951,1.25,6408.0,564.0,0.00,76.7140,14.0,123.0
1,0.0,43.87,1.0,3.0,1,0,0,1,0,0,1.0,1.0,1.0244,1.25,4373.0,1626.0,4.14,98.8904,27.0,1316.0
2,0.0,79.50,5.0,3.0,1,0,0,1,0,0,1.0,1.0,6.0898,1.25,4174.0,1626.0,3.51,372.6300,119.0,2385.0
3,0.0,53.80,0.0,3.0,1,0,0,1,0,0,1.0,1.0,3.3447,1.25,6274.0,6822.0,6.85,530.2000,69.0,1614.0
4,0.0,72.50,5.0,3.0,1,0,0,0,1,0,1.0,1.0,118434.7422,11.25,7241.0,3387.0,6.99,554.1300,33.0,2175.0

In [28]:
x = {}

for i in process_frame:
    if i != 'Churn Status':
        x[i] = process_frame[i]
    else:
        pass
x = pd.DataFrame(x)
y = process_frame['Churn Status']

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.20, random_state = 50)

In [30]:
x_train_scale = scale.fit_transform(x_train)
y_train_scale = scale.fit_transform(y_train)
x_test_scale = scale.fit_transform(x_test)
y_test_scale = scale.fit_transform(y_test)

In [31]:
x_train_std = stdScale.fit_transform(x_train)
y_train_std = stdScale.fit_transform(y_train)
x_test_std = stdScale.fit_transform(x_test)
y_test_std = stdScale.fit_transform(y_test)

In [32]:
lr.fit(x_train_std, y_train)
print("Training accuracy: ", lr.score(x_train_std, y_train))
print("Test accuracy: ", lr.score(x_test_std, y_test))

Training accuracy:  0.705987488829
Test accuracy:  0.653571428571

In [33]:
lr.intercept_

array([-0.00542147])

In [34]:
lr.coef_

array([[-0.02232529,  0.        ,  0.279049  ,  0.        ,  0.02345686,
         0.03863973,  0.        ,  0.        ,  0.05008987, -0.19817453,
         0.        , -0.09943077,  0.        , -0.08087073, -0.32006914,
         0.51595899, -0.60580399,  0.02644976,  0.        ]])

In [35]:
x_predict = lr.predict(x_test)
x_predict.shape

(280,)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(x_predict, y_test)

0.44642857142857145

In [37]:
from sklearn.cross_validation import cross_val_score

In [38]:
from sklearn.cross_validation import KFold
import numpy as np

crossvalidation = KFold(n = x.shape[0], n_folds = 5, shuffle = True, random_state=1)
scores = cross_val_score(lr, x,y, scoring = 'mean_squared_error', cv = crossvalidation, n_jobs = 1)

In [39]:
scores

array([-0.28571429, -0.26071429, -0.31428571, -0.31785714, -0.29749104])

In [40]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 1)

In [41]:
knn.fit(x_train_std, y_train)
print("Training accuracy: ", knn.score(x_train_std, y_train))
print("Test accuracy: ", knn.score(x_test_std, y_test))

Training accuracy:  0.999106344951
Test accuracy:  0.657142857143

In [42]:
test_predict = knn.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(x_predict, y_test)

0.44642857142857145

In [43]:
from sklearn.cross_validation import KFold
import numpy as np

cross_val_2 = KFold(n = x.shape[0], n_folds = 5, shuffle = True, random_state = 3)
scores = cross_val_score(knn, x, y, scoring = "mean_squared_error", cv = cross_val_2, n_jobs = 1)

In [44]:
print (scores)

[-0.38571429 -0.425      -0.38214286 -0.41785714 -0.41577061]

In [45]:
x = []
y= []
z = [1,2,3,4,5,6,7,8,9,10]

for n in z:
    knn = KNeighborsClassifier(n_neighbors = n)
    knn.fit(x_train_std, y_train)
    train_score = knn.score(x_train_std, y_train)
    test_score = knn.score(x_test_std, y_test)
    x.append(train_score)
    y.append(test_score)
    
    
print (z,x,y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [0.99910634495084893, 0.82573726541554959, 0.81590705987488832, 0.78105451295799821, 0.77033065236818588, 0.76586237712243077, 0.76675603217158173, 0.75603217158176939, 0.74262734584450407, 0.75156389633601428] [0.65714285714285714, 0.62142857142857144, 0.65714285714285714, 0.65714285714285714, 0.6607142857142857, 0.63571428571428568, 0.64642857142857146, 0.65000000000000002, 0.67142857142857137, 0.63571428571428568]

In [46]:
from sklearn.svm import LinearSVC
lsv = LinearSVC(C = 10, penalty = 'l1',random_state = 50, dual = False)

In [47]:
lsv.get_params()

{'C': 10,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'loss': 'squared_hinge',
 'max_iter': 1000,
 'multi_class': 'ovr',
 'penalty': 'l1',
 'random_state': 50,
 'tol': 0.0001,
 'verbose': 0}

In [48]:
lsv.fit(x_train_std, y_train)
print("Training accuracy: ", lsv.score(x_train_std, y_train))
print("Test accuracy: ", lsv.score(x_test_std, y_test))

Training accuracy:  0.70509383378
Test accuracy:  0.675

In [49]:
test_predict = lsv.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(x_predict, y_test)

0.44642857142857145

In [50]:
x = [0.0001,0.001,0.01,0.1,1,10,100,1000]
y = []
z = []
for i in x:
    lsv = LinearSVC(C = i, penalty = 'l1',random_state = 50, dual = False)
    lsv.fit(x_train_std, y_train)
    train_score = lsv.score(x_train_std, y_train)
    test_score = lsv.score(x_test_std, y_test)
    y.append(train_score)
    z.append(test_score)
    
    
print (x,y, z)

[0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000] [0.51295799821268995, 0.51295799821268995, 0.69079535299374439, 0.70598748882931184, 0.70598748882931184, 0.70509383378016088, 0.70509383378016088, 0.70509383378016088] [0.44642857142857145, 0.44642857142857145, 0.6428571428571429, 0.68214285714285716, 0.6785714285714286, 0.67500000000000004, 0.67500000000000004, 0.67500000000000004]

In [51]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth = 5,random_state = 0)

In [52]:
dtc.get_params()

{'class_weight': None,
 'criterion': 'gini',
 'max_depth': 5,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_split': 1e-07,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 0,
 'splitter': 'best'}

In [53]:
dtc.fit(x_train_std, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [54]:
from sklearn.model_selection import cross_val_score

In [55]:
cross_val_score(dtc, x_train_std, y_train,cv =5)

array([ 0.77678571,  0.77232143,  0.80803571,  0.79910714,  0.79372197])

In [56]:
x_test_pred = dtc.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(x_test_pred, y_test)

0.5535714285714286

In [58]:
dtc.score(x_train_std,y_train)

0.83914209115281502

In [59]:
dtc.score(x_test_std, y_test)

0.65357142857142858

In [60]:
from sklearn.metrics import mean_squared_error

value = mean_squared_error(y_test, x_test_pred)
print (value)

0.446428571429

In [61]:
help (sk.metrics.mean_squared_error)

Help on function mean_squared_error in module sklearn.metrics.regression:

mean_squared_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
    Mean squared error regression loss

    Read more in the :ref:`User Guide <mean_squared_error>`.

    Parameters
    ----------
    y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
        Ground truth (correct) target values.

    y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
        Estimated target values.

    sample_weight : array-like of shape = (n_samples), optional
        Sample weights.

    multioutput : string in ['raw_values', 'uniform_average']
        or array-like of shape (n_outputs)
        Defines aggregating of multiple output values.
        Array-like value defines weights used to average errors.

        'raw_values' :
            Returns a full set of errors in case of multioutput input.

        'uniform_average' :
            Errors of all outputs are averaged with uniform weight.

    Returns
    -------
    loss : float or ndarray of floats
        A non-negative floating point value (the best value is 0.0), or an
        array of floating point values, one for each individual target.

    Examples
    --------
    >>> from sklearn.metrics import mean_squared_error
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred)
    0.375
    >>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
    >>> y_pred = [[0, 2],[-1, 2],[8, -5]]
    >>> mean_squared_error(y_true, y_pred)  # doctest: +ELLIPSIS
    0.708...
    >>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
    ... # doctest: +ELLIPSIS
    array([ 0.416...,  1.        ])
    >>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
    ... # doctest: +ELLIPSIS
    0.824...

In [62]:
x = []
y = []
for i in range(10):
    dtb = DecisionTreeClassifier(max_depth = 5,random_state = 0)
    dtb.fit(x_train_std, y_train)
    train_score = dtb.score(x_train_std,y_train)
    test_score = dtb.score(x_test_std, y_test)
    x.append(train_score)
    y.append(test_score)
    
print ([0,1,2,3,4,5,6,7,8,9], x ,y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] [0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502, 0.83914209115281502] [0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858, 0.65357142857142858]

In [63]:
sk.metrics.confusion_matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_test, x_test_pred)
print (confusion)

[[  0 125]
 [  0 155]]

In [64]:
from sklearn.ensemble import RandomForestClassifier
dtc.get_params()

{'class_weight': None,
 'criterion': 'gini',
 'max_depth': 5,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_split': 1e-07,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 0,
 'splitter': 'best'}

In [65]:
rand = RandomForestClassifier(n_jobs = -1, n_estimators =4, criterion = 'gini',max_depth = 5)

In [66]:
import warnings
warnings.filterwarnings('ignore')
rand.fit_transform(x_train_std, y_train)
predicted = rand.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(predicted, y_test)

0.45000000000000001

In [67]:
rand.score(x_train_std,y_train)

0.806970509383378

In [68]:
dtc.score(x_test_std, y_test)

0.65357142857142858

In [83]:
from sklearn.ensemble import GradientBoostingClassifier

gbrt = GradientBoostingClassifier(random_state = 1, max_depth = 8, learning_rate = 1)
gbrt.fit(x_train_std, y_train)

gbrt.score(x_train_std, y_train)

0.99910634495084893

In [84]:
gbrt.score(x_test_std,y_test)

0.68571428571428572

In [85]:
predicted_gb = rand.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(predicted_gb, y_test)

0.45000000000000001

In [116]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 19, whiten = True).fit(x_train_std)
x_train_pca = pca.transform(x_train_std)
x_test_pca = pca.transform(x_test)

lr.fit(x_train_pca, y_train)
lr.score(x_test_pca, y_test)

0.44642857142857145

In [117]:
dtb.fit(x_train_pca, y_train)
dtb.score(x_test_pca, y_test)

0.45357142857142857

In [121]:
dtc.fit(x_train_pca, y_train)
dtc.score(x_test_pca, y_test)
x_test_pred = dtc.predict(x_test)
accuracy_score(predicted, y_test)

0.44642857142857145

In [124]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2)
kmeans.fit(x_train_std)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [130]:
kmeans.fit_transform(x_train_std, y_train)

array([[ 5.1416973 ,  5.65391644],
       [ 3.5436042 ,  5.21277968],
       [ 5.25811404,  4.32143812],
       ...,
       [ 6.37575022,  5.8406998 ],
       [ 3.29988868,  4.30513297],
       [ 5.43527486,  3.9058981 ]])

In [131]:
predicted = kmeans.predict(x_test)
accuracy_score(predicted, y_test)

0.46785714285714286

# load test now

In [87]:
check_test = load_test
check_test.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Network type subscription in Month 1,Network type subscription in Month 2,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2
0,ADF0001,1012,33.733333,1560.1156,14.04,226.3,3.126093e+06,64,14503,12402,1,3G,3G,Weematel,Mango
1,ADF0002,137,4.566667,1705.8368,73.63,5.0,1.628809e+02,515,29832,88953,9,3G,3G,ToCall,Mango
2,ADF0003,202,6.733333,1720.3008,4.36,245.0,3.334607e+06,163,228,1495,1,3G,3G,ToCall,Mango
3,ADF0004,165,5.500000,1732.2800,0.00,12.5,6.682924e+05,484,0,71928,2,3G,3G,Uxaa,Mango
4,ADF0005,759,25.300000,1873.0600,69.57,412.5,6.666975e+06,64,7616,20753,2,3G,3G,Mango,Mango

In [88]:
# mapping categorical variables load_train['Most Loved Competitor network in in month 2].values_counts()

mapped_dict = {'Uxaa':1, 'PQza':2, 'Mango':3, 'ToCall': 4, 'Weematel': 5, 'Zintel':6, '0': 0}
check_test['Most Loved Competitor network in in Month 2'] = check_test['Most Loved Competitor network in in Month 2'].map(mapped_dict)
check_test['Most Loved Competitor network in in Month 1'] = check_test['Most Loved Competitor network in in Month 1'].map(mapped_dict)
check_test.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Network type subscription in Month 1,Network type subscription in Month 2,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2
0,ADF0001,1012,33.733333,1560.1156,14.04,226.3,3.126093e+06,64,14503,12402,1,3G,3G,5,3
1,ADF0002,137,4.566667,1705.8368,73.63,5.0,1.628809e+02,515,29832,88953,9,3G,3G,4,3
2,ADF0003,202,6.733333,1720.3008,4.36,245.0,3.334607e+06,163,228,1495,1,3G,3G,4,3
3,ADF0004,165,5.500000,1732.2800,0.00,12.5,6.682924e+05,484,0,71928,2,3G,3G,1,3
4,ADF0005,759,25.300000,1873.0600,69.57,412.5,6.666975e+06,64,7616,20753,2,3G,3G,3,3

In [89]:
re_assign = pd.get_dummies(check_test[['Network type subscription in Month 1', 'Network type subscription in Month 2']])

In [90]:
new_frame = check_test
for i in re_assign.keys():
    new_frame[i] = re_assign[i]
final_frame = pd.DataFrame(new_frame)
final_frame.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,...,Network type subscription in Month 1,Network type subscription in Month 2,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other
0,ADF0001,1012,33.733333,1560.1156,14.04,226.3,3.126093e+06,64,14503,12402,...,3G,3G,5,3,0,1,0,0,1,0
1,ADF0002,137,4.566667,1705.8368,73.63,5.0,1.628809e+02,515,29832,88953,...,3G,3G,4,3,0,1,0,0,1,0
2,ADF0003,202,6.733333,1720.3008,4.36,245.0,3.334607e+06,163,228,1495,...,3G,3G,4,3,0,1,0,0,1,0
3,ADF0004,165,5.500000,1732.2800,0.00,12.5,6.682924e+05,484,0,71928,...,3G,3G,1,3,0,1,0,0,1,0
4,ADF0005,759,25.300000,1873.0600,69.57,412.5,6.666975e+06,64,7616,20753,...,3G,3G,3,3,0,1,0,0,1,0

In [91]:
final_frame = final_frame.drop(['Network type subscription in Month 1'], axis = 1)
final_frame = final_frame.drop(['Network type subscription in Month 2'], axis = 1)
final_frame.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other
0,ADF0001,1012,33.733333,1560.1156,14.04,226.3,3.126093e+06,64,14503,12402,1,5,3,0,1,0,0,1,0
1,ADF0002,137,4.566667,1705.8368,73.63,5.0,1.628809e+02,515,29832,88953,9,4,3,0,1,0,0,1,0
2,ADF0003,202,6.733333,1720.3008,4.36,245.0,3.334607e+06,163,228,1495,1,4,3,0,1,0,0,1,0
3,ADF0004,165,5.500000,1732.2800,0.00,12.5,6.682924e+05,484,0,71928,2,1,3,0,1,0,0,1,0
4,ADF0005,759,25.300000,1873.0600,69.57,412.5,6.666975e+06,64,7616,20753,2,3,3,0,1,0,0,1,0

In [92]:
final_frame['network_age'] = final_frame['network_age'].fillna(np.median(final_frame['network_age']))
final_frame['Customer tenure in month'] = final_frame['Customer tenure in month'].fillna(np.median(final_frame['Customer tenure in month']))
final_frame['Total Spend in Months 1 and 2 of 2017'] = final_frame['Total Spend in Months 1 and 2 of 2017'].fillna(np.median(final_frame['Total Spend in Months 1 and 2 of 2017']))
final_frame['Total SMS Spend'] = final_frame['Total SMS Spend'].fillna(np.median(final_frame['Total SMS Spend']))
final_frame['Total Data Spend'] = final_frame['Total Data Spend'].fillna(np.median(final_frame['Total Data Spend']))
final_frame['Total Data Consumption'] = final_frame['Total Data Consumption'].fillna(np.median(final_frame['Total Data Consumption']))
final_frame['Total Unique Calls'] = final_frame['Total Unique Calls'].fillna(np.median(final_frame['Total Unique Calls']))
final_frame['Total Onnet spend '] = final_frame['Total Onnet spend '].fillna(np.median(final_frame['Total Onnet spend ']))
final_frame['Total Offnet spend'] = final_frame['Total Offnet spend'].fillna(np.median(final_frame['Total Offnet spend']))
final_frame['Total Call centre complaints calls'] = final_frame['Total Call centre complaint calls'].fillna(np.median(final_frame['Total Call centre complaint calls']))
final_frame.shape

(600, 20)

In [93]:
final_frame['network_age'] = final_frame['network_age'].dropna(axis = 0)
final_frame.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other,Total Call centre complaints calls
0,ADF0001,1012,33.733333,1560.1156,14.04,226.3,3.126093e+06,64,14503,12402,1,5,3,0,1,0,0,1,0,1
1,ADF0002,137,4.566667,1705.8368,73.63,5.0,1.628809e+02,515,29832,88953,9,4,3,0,1,0,0,1,0,9
2,ADF0003,202,6.733333,1720.3008,4.36,245.0,3.334607e+06,163,228,1495,1,4,3,0,1,0,0,1,0,1
3,ADF0004,165,5.500000,1732.2800,0.00,12.5,6.682924e+05,484,0,71928,2,1,3,0,1,0,0,1,0,2
4,ADF0005,759,25.300000,1873.0600,69.57,412.5,6.666975e+06,64,7616,20753,2,3,3,0,1,0,0,1,0,2

In [94]:
final_frame.shape

(600, 20)

In [95]:
final_frame = final_frame.dropna(axis = 0)
final_frame.shape

(600, 20)

In [96]:
check_list =list(final_frame.keys()) 
for i in check_list:
    check_list.remove(i)
    solution = i in check_list
    print (i, solution)

Customer ID False
Customer tenure in month False
Total SMS Spend False
Total Data Consumption False
Total Onnet spend  False
Total Call centre complaint calls False
Most Loved Competitor network in in Month 2 False
Network type subscription in Month 1_3G False
Network type subscription in Month 2_2G False
Network type subscription in Month 2_Other False

In [97]:
final_frame['network_age'][final_frame['network_age'] > 2500] = final_frame['network_age'].median()

In [98]:
final_frame['Customer tenure in month'][final_frame['Customer tenure in month'] > 80] = final_frame['Customer tenure in month'].median()

In [99]:
final_frame['Total Spend in Months 1 and 2 of 2017'][final_frame['Total Spend in Months 1 and 2 of 2017'] > 1200] = final_frame['Total Spend in Months 1 and 2 of 2017'].median()

In [100]:
final_frame['Total Onnet spend '][final_frame['Total Onnet spend '] > 1000] = final_frame['Total Onnet spend '].median()
final_frame['Total Offnet spend'][final_frame['Total Offnet spend'] > 13000] = final_frame['Total Offnet spend'].median()
final_frame['Total Call centre complaint calls'][final_frame['Total Call centre complaint calls'] > 2] = final_frame['Total Call centre complaint calls'].median()

In [101]:
final_frame.dropna()

for i in final_frame.keys():
    if i != 'Customer ID':
        final_frame[i] = final_frame[i].replace(np.nan,final_frame[i].median())
    else:
        pass
final_frame.head()

,Customer ID,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Most Loved Competitor network in in Month 1,Most Loved Competitor network in in Month 2,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other,Total Call centre complaints calls
0,ADF0001,1012,33.733333,942.6396,14.04,226.3,3.126093e+06,64,2526.5,12402.0,1,5,3,0,1,0,0,1,0,1
1,ADF0002,137,4.566667,942.6396,73.63,5.0,1.628809e+02,515,2526.5,8096.5,1,4,3,0,1,0,0,1,0,9
2,ADF0003,202,6.733333,942.6396,4.36,245.0,3.334607e+06,163,228.0,1495.0,1,4,3,0,1,0,0,1,0,1
3,ADF0004,165,5.500000,942.6396,0.00,12.5,6.682924e+05,484,0.0,8096.5,2,1,3,0,1,0,0,1,0,2
4,ADF0005,759,25.300000,942.6396,69.57,412.5,6.666975e+06,64,2526.5,8096.5,2,3,3,0,1,0,0,1,0,2

In [102]:
process_frame = {}

for i in final_frame:
    if i != 'Customer ID':
        process_frame[i] = final_frame[i]
    else: 
        pass
process_frame = pd.DataFrame(process_frame)
process_frame.shape, final_frame.shape

((600, 19), (600, 20))

In [107]:
test_predict = rand.predict(process_frame)
test_predict.shape

(600,)

In [108]:
submit_frame = {}
for i in [1]:
    submit_frame['Churn Status'] = test_predict
    submit_frame['Customer ID'] = final_frame['Customer ID']
    
submit_frame = pd.DataFrame(submit_frame)

In [111]:
submit_frame.to_csv(r"C:\Users\ACER\Desktop\pyreach\to pc\churn prediction\final_sub.xlsx")