In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import sklearn as sk

In [7]:
ReadData = pd.read_csv(r"C:\Users\ACER\Desktop\Life Data\kaggle 1\date_info.csv")

In [8]:
ReadData.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [9]:
ReadData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
calendar_date    517 non-null object
day_of_week      517 non-null object
holiday_flg      517 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.2+ KB

In [10]:
ReadData.shape

(517, 3)

In [11]:
ReadData.describe()

       holiday_flg
count   517.000000
mean      0.067698
std       0.251471
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [12]:
ReadData.keys()

Index(['calendar_date', 'day_of_week', 'holiday_flg'], dtype='object')

In [17]:
ReadData['holiday_flg'].count()

517

In [18]:
Frame_2 = ReadData[['day_of_week','holiday_flg']]

In [27]:
Frame_2_dict = dict(Frame_2['day_of_week'].value_counts())
Frame_d_dict2 = dict(Frame_2['holiday_flg'].value_counts())
print (Frame_2_dict)
print ("")
print ("")
print (Frame_d_dict2)

{'Tuesday': 74, 'Wednesday': 74, 'Monday': 74, 'Friday': 74, 'Saturday': 74, 'Sunday': 74, 'Thursday': 73}


{0: 482, 1: 35}