In [6]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [7]:
file = pd.read_csv(r'C:\bootcamp\Data Science Bootcamp Data_2.0.csv')
file.head()

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

In [12]:
# create a new dataframe for the classification
new_frame = file[['FreqUSSD', 'No of Years ', 'Education', 'Bank', 'Balenq']]
new_frame.head()

              FreqUSSD  No of Years  Education    Bank Balenq
0                Never          12.0         1  Bank A    ATM
1                Never           6.0         1  Bank M    ATM
2  At Least once a day           2.0         1  Bank J    ATM
3  At Least once a day           NaN         1  Bank B    ATM
4               Rarely           5.0         1  Bank C    ATM

In [9]:
file['Education'][file['Education'] == "Bachelor's Decree"] = 1
file['Education'][file['Education'] == "OND/HND"] = 1
file['Education'][file['Education'] == "Secondary school leaving certificate"] = 0
file['Education'][file['Education'] == "Master's Degree"] = 1
file['Education'][file['Education'] == "No Response"] = 0
file['Education'][file['Education'] == "Primary School leaving certificate"] = 0
file['Education'][file['Education'] == "PHD"] = 1
file['Education'][file['Education'] == "No Formal Education"] = 0
file['Education'][file['Education'] == "Others"] = 0

file['Education'].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

1    33128
0     9524
Name: Education, dtype: int64

In [13]:
# classifying members of 10 years experience and above as 1 and less years as 0
file['No of Years '][file['No of Years '] < 10.0] = 0
file['No of Years '][file['No of Years '] >= 10.0] = 1
file['No of Years '].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0.0    33231
1.0     8155
Name: No of Years , dtype: int64

In [14]:
# classfying internet users into '0' and '1'
file['FreqUSSD'][file['FreqUSSD'] == 'Never'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'No Response'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'At least once a week'] = 1
file['FreqUSSD'][file['FreqUSSD'] == 'Rarely'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'Monthly'] = 1
file['FreqUSSD'][file['FreqUSSD'] == 'At Least once a day'] = 1
file['FreqUSSD'].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

0    31389
1    11263
Name: FreqUSSD, dtype: int64

In [15]:
#new_frame['FreqUSSD'].astype(int)
# create a new dataframe for the classification
new_frame = file[['FreqUSSD', 'No of Years ', 'Education', 'Bank', 'Balenq']]
new_frame.head()
final_frame =new_frame.dropna()

In [16]:
final_frame.head()

  FreqUSSD  No of Years  Education    Bank Balenq
0        0           1.0         1  Bank A    ATM
1        0           0.0         1  Bank M    ATM
2        1           0.0         1  Bank J    ATM
4        0           0.0         1  Bank C    ATM
5        0           0.0         0  Bank D    ATM

In [17]:
final_frame['No of Years '] =final_frame['No of Years '].astype(int)
final_frame.head()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  FreqUSSD  No of Years  Education    Bank Balenq
0        0             1         1  Bank A    ATM
1        0             0         1  Bank M    ATM
2        1             0         1  Bank J    ATM
4        0             0         1  Bank C    ATM
5        0             0         0  Bank D    ATM

In [19]:
final_frame.shape

(41133, 5)

In [20]:
final_frame500 = final_frame.head(500)

In [21]:
his = {(0,0,0):7, (0,0,1):6, (0,1,0):5, (0,1,1):4, (1,0,0):3, (1,0,1):2, (1,1,0):1, (1,1,1):0}
workfile = final_frame500
for i in range(len(workfile)):
    try:
        workfile['Balenq'][i] = his[(workfile['FreqUSSD'][i], workfile['No of Years '][i], workfile['Education'][i])]
    except KeyError:
        pass

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
final_frame['Balenq'].value_counts()

ATM                        18195
Internet/Mobile Banking     9789
Branch                      6832
Mobile payments             2810
No Response                 2448
Call Center                  278
POS                          255
6                            225
Socia Media                  101
2                             81
7                             43
4                             40
5                             20
0                              8
3                              7
1                              1
Name: Balenq, dtype: int64

In [29]:
final_frame500.sample()

    FreqUSSD  No of Years  Education    Bank Balenq
127        0             0         1  Bank C      6

In [41]:
def change_balenq(workfile, i):
    his = {(0,0,0):7, (0,0,1):6, (0,1,0):5, (0,1,1):4, (1,0,0):3, (1,0,1):2, (1,1,0):1, (1,1,1):0}
    workfile['Balenq'][i]= his[(workfile['FreqUSSD'][i], workfile['No of Years '][i], workfile['Education'][i])]
    return workfile['Balenq'][i]

In [42]:
same = change_balenq(final_frame, 9)
print (same)

6

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
for i in range(len(final_frame500)):
    final_frame500.Balenq.apply(change_balenq(final_frame500,i))

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: 'int' object is not callable

In [36]:
final_frame500.Bank.apply(change_bank)

0           Bank A
1           Bank M
2           Bank J
4      Bank HELLLO
5           Bank D
6           Bank H
7      Bank HELLLO
8           Bank E
9           Bank I
10          Bank F
11          Bank J
12     Bank HELLLO
13          Bank B
14     Bank HELLLO
15     Bank HELLLO
16          Bank E
17          Bank D
18          Bank B
19          Bank H
22          Bank A
23          Bank B
24     Bank HELLLO
25          Bank H
26          Bank F
27          Bank N
28     Bank HELLLO
29          Bank D
30     Bank HELLLO
31          Bank F
32          Bank O
          ...
546         Bank N
547         Bank D
548         Bank Q
549         Bank F
550         Bank J
551         Bank B
552         Bank G
553         Bank Q
554         Bank B
555    Bank HELLLO
556         Bank A
557         Bank G
558         Bank H
559         Bank H
560         Bank A
561         Bank N
562         Bank G
563    Bank HELLLO
564         Bank G
566         Bank L
567         Bank D
568         Bank A
569         Bank G
570         Bank G
571         Bank G
572         Bank G
573         Bank D
574         Bank I
575         Bank K
576         Bank Q
Name: Bank, Length: 500, dtype: object

In [35]:
def change_bank(x):
    x = x.replace('C', 'HELLLO')
    return x

In [33]:
final_frame500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 576
Data columns (total 5 columns):
FreqUSSD        500 non-null object
No of Years     500 non-null int32
Education       500 non-null object
Bank            500 non-null object
Balenq          500 non-null object
dtypes: int32(1), object(4)
memory usage: 41.5+ KB

In [ ]:
final_frame500['new_link'] = final_frame500.Balenq.applymap({}`)