In [5]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
file = pd.read_csv(r'C:\bootcamp\Data Science Bootcamp Data_2.0.csv')
file.head()

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

In [7]:
# exploring the internet colunm and classfying
# freqUSSD
internet_dict = dict(file['FreqUSSD'].value_counts())
print (internet_dict)

{'Never': 20059, 'Rarely': 6752, 'At least once a week': 5130, 'No Response': 4578, 'Monthly': 3144, 'At Least once a day': 2989}

In [10]:
# classfying internet users into '0' and '1'
file['FreqUSSD'][file['FreqUSSD'] == 'Never'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'No Response'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'At least once a week'] = 1
file['FreqUSSD'][file['FreqUSSD'] == 'Rarely'] = 0
file['FreqUSSD'][file['FreqUSSD'] == 'Monthly'] = 1
file['FreqUSSD'][file['FreqUSSD'] == 'At Least once a day'] = 1
file['FreqUSSD'].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

0    31389
1    11263
Name: FreqUSSD, dtype: int64

In [11]:
Education_dict = (file['Education'].value_counts())
print (Education_dict)

Bachelor's Decree                       17163
OND/HND                                 11187
Secondary school leaving certificate     7880
Master's Degree                          4232
No Response                               645
Primary School leaving certificate        636
PHD                                       546
No Formal Education                       324
Others                                     39
Name: Education, dtype: int64

In [12]:
file['Education'][file['Education'] == "Bachelor's Decree"] = 1
file['Education'][file['Education'] == "OND/HND"] = 1
file['Education'][file['Education'] == "Secondary school leaving certificate"] = 0
file['Education'][file['Education'] == "Master's Degree"] = 1
file['Education'][file['Education'] == "No Response"] = 0
file['Education'][file['Education'] == "Primary School leaving certificate"] = 0
file['Education'][file['Education'] == "PHD"] = 1
file['Education'][file['Education'] == "No Formal Education"] = 0
file['Education'][file['Education'] == "Others"] = 0

file['Education'].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

1    33128
0     9524
Name: Education, dtype: int64

In [13]:
No_of_years_dict = (file['No of Years '].value_counts())
No_of_years_dict.keys()

Float64Index([ 5.0,  3.0,  2.0,  4.0,  1.0, 10.0,  6.0,  7.0,  8.0,  9.0, 12.0,
              15.0, 11.0, 20.0, 13.0, 14.0, 16.0, 17.0, 18.0, 25.0, 30.0, 22.0,
              21.0, 19.0, 23.0, 35.0, 28.0, 26.0, 24.0, 27.0, 40.0, 33.0, 32.0,
              31.0, 37.0, 29.0, 38.0, 34.0, 36.0, 39.0,  0.0,  1.5, 42.0, 51.0,
              45.0, 50.0, 41.0, 55.0],
             dtype='float64')

In [14]:
# classifying members of 10 years experience and above as 1 and less years as 0
file['No of Years '][file['No of Years '] < 10.0] = 0
file['No of Years '][file['No of Years '] >= 10.0] = 1
file['No of Years '].value_counts()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0.0    33231
1.0     8155
Name: No of Years , dtype: int64

In [38]:
# create a new dataframe for the classification
new_frame = file[['FreqUSSD', 'No of Years ', 'Education', 'Bank', 'Balenq']]
new_frame.head()

  FreqUSSD  No of Years  Education    Bank Balenq
0        0           1.0         1  Bank A    ATM
1        0           0.0         1  Bank M    ATM
2        1           0.0         1  Bank J    ATM
3        1           NaN         1  Bank B    ATM
4        0           0.0         1  Bank C    ATM

In [44]:
workfile = new_frame.head(1000)

In [54]:
# filling the Balenq column by passing each entry to its classification
# create a dictionary that has each corresponding entry and determine the classification for the corresponding balenq column
his = {(0.0,0.0,0.0):7, (0.0,0.0,1.0):6, (0.0,1.0,0.0):5, (0.0,1.0,1.0):4, (1.0,0.0,0.0):3, (1.0,0.0,1.0):2, (1.0,1.0,0.0):1, (1.0,1.0,1.0):0}
def Process(workfile):
    his = {(0.0,0.0,0.0):7, (0.0,0.0,1.0):6, (0.0,1.0,0.0):5, (0.0,1.0,1.0):4, (1.0,0.0,0.0):3, (1.0,0.0,1.0):2, (1.0,1.0,0.0):1, (1.0,1.0,1.0):0}
    for counter in range(len(workfile)):
        try: workfile['Balenq'][counter]= his[(float(workfile['FreqUSSD'][counter]), (workfile['No of Years '][counter]), float(workfile['Education'][counter]))]
        except: workfile['Balenq'][counter]= his[(float(workfile['FreqUSSD'][counter]), 0, float(workfile['Education'][counter]))]
        else:
            workfile['Balenq'][counter] = 7

namefile = workfile.head(5)
Process(namefile)
workfile.head()

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  FreqUSSD  No of Years  Education    Bank Balenq
0        0           1.0         1  Bank A      7
1        0           0.0         1  Bank M      7
2        1           0.0         1  Bank J      7
3        1           NaN         1  Bank B      2
4        0           0.0         1  Bank C      7

In [ ]:
Process(new_frame)

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
new_frame['Balenq'].value_counts()