In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [2]:
file = pd.read_csv(r'C:\bootcamp\Data Science Bootcamp Data_2.0.csv')

In [3]:
file.head()

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

In [4]:
file.keys()

Index(['Quest No', 'Age', 'Gender', 'Employment Category', 'Education',
       'Income', 'Location', 'Bank', 'No of Years ',
       'Most frequently used Bank',
       ...
       'Payint', 'Paycab', 'Mig1', 'Mig2', 'Mig3', 'Rec', 'Changeplan',
       'FromBank', 'ToBank', 'ChangeReasons'],
      dtype='object', length=152)

In [5]:
file_excel = pd.read_excel(r'C:\bootcamp\Data Science Bootcamp Data_2.0.xlsx')

In [6]:
create = {}
for i, j in zip(file.keys(), file_excel['Description']):
    print (i,    j)
    
#print (create)

Quest No Questionnaire number
Age Age
Gender Gender
Employment Category Employment category
Education Education
Income Income
Location Location
Bank Banks you use
No of Years  Number of years of banking relationship
Most frequently used Bank Most Frequently Used Bank
RatQOS nan
RatFS Quality of service experience
RatIR Financial stability
RatERSA Image and reputation
RatPOBR Employer requirements (Salary account)
RatRFF Proximity of branches
FreqBra Recommendations from family and friends
FreqATM nan
FreqPOS Branch
FreqInt ATM
FreqMob POS
FreqUSSD Internet banking
FreqTel Mobile (App)
MostfreqATM USSD Banking
ATMproximity Call Centre
ATMqon nan
ATMsecurity Most Frequently used Bank's ATM
ATMros nan
Device1 Proximity
Device2 Quality of notes
Device3 Secure environment
Device4 Reliability of service
Cshwit nan
Cshdep Desktop
Fndtrf Laptop
Balenq Tablet
Mkgcmp Smart phones
Mkgpay nan
Gtloan Cash Withdrawal
Gtfnad Cash Deposits
Bkfxdp Funds Transfer
Cshwit2 Balance Enquiry
Cshdep2 Making Complaints
Fndtrf2 Making a Payment
Balenq2 Getting a Loan
mkgcmp2 Getting Financial Advice
Mkgpay2 Booking Fixed Deposit/Treasury Bills
Gtloan2 nan
Gtfnad2 Cash Withdrawal
Bkfxdp2 Cash deposits
impcc1a Funds Transfer
cc1a Balance Enquiry
impcc1b Making Complaints
cc1b Making a payment
impcc2 Getting a loan
cc2 Getting Financial Advice
impcc3 Booking Fixed Deposit/Treasury Bills
cc3 nan
impcc4 1- Not at all important, 2-, 3-, 4-, 5-, 6-, 7-, 8-, 9-, 10- Extremely important
cc4 1- Extremely dissatisfied, 2- Very dissatisfied, 3- Dissatisfied, 4- Neutral, 5- Satisfied, 6- Very satisfied, 7- Extremely satisfied
impcc4b nan
cc4b nan
qosbrn1i Relationship managers  professionalism
qosbrn1 Relationship managers  professionalism
qosbrn2i Branch staff professionalism
qosbrn2 Branch staff professionalism
qosbrn3i Staff knowledge and understanding of the bankâ€™s products / services
qosbrn3 Staff knowledge and understanding of the bankâ€™s products / services
tat1i Staff ability to understand your needs and proactively offer alternatives/ useful advice
tat1 Staff ability to understand your needs and proactively offer alternatives/ useful advice
tat2i nan
tat2 Prompt attention and response to your enquiries/ complaints
tat3i Prompt attention and response to your enquiries/ complaints
tat3 Quality of feedback on enquiries/ resolution of complaints
qosatm1 Quality of feedback on enquiries/ resolution of complaints
qosatm1i nan
qosatm2i Ambience â€“ look and feel
qosatm2 Ambience â€“ look and feel
qosatm3i Absence of long queues at branches
qosatm3 Absence of long queues at branches
qosatm4i Access to branches
qosatm4 Access to branches
qosmob1i Timeliness of cash deposit and withdrawals
qosmob1 Timeliness of cash deposit and withdrawals
qosmob2i Timeliness of funds transfers
qosmob2 Timeliness of funds transfers
qosmob3i Timeliness of account opening process
qosmob3 Timeliness of account opening process
qosmob4i nan
qosmob4 Cash availability
qosmob5i Cash availability
qosmob5 ATM uptime (available service on ATMs)
qosmob6i ATM uptime (available service on ATMs)
qosmob6 Security of ATM locations
qosint1i Security of ATM locations
qosint1 Access to ATMs
qosint2i Access to ATMs
qosint2 nan
qosint3i Ease of enrolment/sign-up (Mobile Banking)
qosint3 Ease of enrolment/sign-up (Mobile Banking)
qosint4i Ease of navigation (Mobile Banking)
qosint4 Ease of navigation (Mobile Banking)
qosint5i Variety of features (Mobile Banking)
qosint5 Variety of features (Mobile Banking)
qosint6i Visual design â€“ look and feel (Mobile Banking)
qosint6 Visual design â€“ look and feel (Mobile Banking)
qoscct1i Security (Mobile Banking)
qoscct1 Security (Mobile Banking)
qoscct2i Mobile banking system availability
qoscct2 Mobile banking system availability
qoscct3i nan
qoscct3 Ease of enrolment/sign-up (Internet Banking)
qossm1i Ease of enrolment/sign-up (Internet Banking)
qossm1 Ease of navigation (Internet Banking)
qossm2i Ease of navigation (Internet Banking)
qossm2 Variety of features (Internet Banking)
qoscad1i Variety of features (Internet Banking)
qoscad1 Visual design â€“ look and feel (Internet Banking)
qoscad2i Visual design â€“ look and feel (Internet Banking)
qoscad2 Security (Internet Banking)
qoscad3i Security (Internet Banking)
qoscad3 Internet banking system availability
qoscad4i Internet banking system availability
qoscad4 nan
acci Professional/ communication skills of call centre agents
acc Professional/ communication skills of call centre agents
infi Length of wait times
inf Length of wait times
prd1i How well  issues are resolved
prd1 How well  issues are resolved
prd2i nan
prd2 Quality and relevance of content/ communication
eas1i Quality and relevance of content/ communication
eas1 Response time to queries
eas2i Response time to queries
eas2 nan
qosci Issuance of cards
qosc Issuance of cards
Payuticash Renewal of cards
Payintcash Renewal of cards
Paycabcash Hotlisting/ replacing a lost, stolen or damaged debit/credit card)
Payuti Hotlisting/ replacing a lost, stolen or damaged debit/credit card)
Payint Customisation
Paycab Customisation
Mig1 nan
Mig2 Accuracy and completeness of information provided i.e. bank statements, advice slips, basis of bank charges/fees etc.
Mig3 Accuracy and completeness of information provided i.e. bank statements, advice slips, basis of bank charges/fees etc.
Rec Information (e.g. alerts, statements) provided in a timely manner and easy-to-understand format
Changeplan Information (e.g. alerts, statements) provided in a timely manner and easy-to-understand format
FromBank nan
ToBank Suitability of products to your needs
ChangeReasons Suitability of products to your needs

In [7]:
processing_file = file[['Age', 'Gender', 'Employment Category', 'Education', 'Income', 'Location','Bank', 'No of Years ', 'Most frequently used Bank' ]]

In [8]:
#plt.Circle(file['Income'])
#plt.show()
#print (x)
test_file = file.copy()
test_file['Income'][test_file['Income']=='N50,000 - N100,000'] = 1
test_file['Income'][test_file['Income']=='Below N50,000'] = 2
test_file['Income'][test_file['Income']=='No Response'] = 3
test_file['Income'][test_file['Income']=='N101,000 - N250,000'] = 4
test_file['Income'][test_file['Income']=='N251,000 -N500,000'] = 5
test_file['Income'][test_file['Income']=='N501,000 - N1 Million'] = 6
test_file['Income'][test_file['Income']=='Greater than N1 million'] = 7

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ACER\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [9]:
# employment category
dic_emp_cat = {}
dic_emp_cat = dict(test_file['Employment Category'].value_counts())
print (dic_emp_cat.values())

dict_values([11537, 9779, 9337, 7597, 1500, 1303, 1233, 366])

In [10]:
file.head()

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

In [11]:
processing_file.head()

,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank
0,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A
1,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A
2,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B
3,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B
4,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C